@model MVCProject.Models.Currency
@{
    ViewData["Title"] = "Currency Menu";
}

@using (var form = Html.BeginForm("CurrencyMenu", "Home", FormMethod.Post))
{
    <div>
        @Html.LabelFor(m => m.valueInput, "Amount:")
        @Html.TextBoxFor(m => m.valueInput)
    </div>

    <div class="spacing">
        <label for="conversionDirection">Conversion Direction:</label>
        <select name="conversionDirection" id="conversionDirection" class="form-control">
            <option value="EurosToDollars">Euros to Dollars</option>
            <option value="DollarsToEuros">Dollars to Euros</option>
        </select>
    </div>

    <div class="spacing">
        <input type="submit" value="Convert" />
    </div>
}
