@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To The Currency Converter Web App.</h1>
    <p>For Google website click <a href="https://www.google.com">Google</a></p>
    <p>To start converting currency click <a href="@Url.Action("CurrencyMenu", "Home")"><span class="highlight">START</span></a></p>
</div>
