@model MVCProject.Models.Currency


<h2>Conversion</h2>
<p>Currency Amount @Model.valueInput</p>
<p>Resulting Currency <b>@Model.valueOutput</b></p>
</br>
<div>
@{
	if(Model.ConversionDirection == ConversionDirection.EurosToDollars)
		{
			<img src="~/images/eurodollar.png" alt="Exchange Rate History" />
		}
	else
		{
			<img src="~/images/dollartoeuro.png" alt="Exchange Rate History" />
		}
		
}
</div>