@model MVCProject.Models.Currency


<h2>Conversion</h2>
<p>Currency Amount in € @Model.valueInput</p>
<p>Resulting Currency in $ <b>@Model.valueOutput</b></p>
</br>
<img src="~/images/eurodollar.png" alt="Exchange Rate History" />