html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
p{
    background-color: aquamarine;
}
.highlight{
    text-transform:uppercase;
    background-color: gold;
}
.topfilecolor{
    background-color: pink;
}